@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

.text-gradient-magenta {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-magenta to-royalblue;
}

.text-gradient-royalblue {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-royalblue to-magenta;
}

.hr-gradient-magenta {
    @apply h-2 w-2/5 bg-gradient-to-r from-magenta to-royalblue border-none mb-6 rounded;
}

.hr-gradient-royalblue {
    @apply h-2 w-2/5 bg-gradient-to-r from-royalblue to-magenta border-none mb-6 rounded;
}